jobs:
  include:
    - stage: UnitTest
      if: commit_message = foobar ## TODO DELETE
      dist: xenial
      language: java
      jdk:
        - openjdk11
      before_script:
        - sqlite3 -version
        - make -version
        - make clean-sqlite
        - make sqlite-db-build
        - make sqlite-db-populate
      script:
        - "./gradlew test --tests=org.*"
      after_success:
        - "./gradlew jacocoTestReport"
        - bash <(curl -s https://codecov.io/bash)

    - stage: DockerIntegrationTest
      if: commit_message = foobar ## TODO DELETE
      dist: xenial
      language: java
      jdk:
        - openjdk11
      services:
        - docker
      before_install:
        - make docker-build
        - source ci/set-docker-image-version.sh
        - echo ${DOCKER_IMG_VER}
        - docker run --rm -d --name starter-kit-common-test-default -p 4500:4500 -p 4501:4501 ga4gh/ga4gh-starter-kit-common:${DOCKER_IMG_VER}
        - docker run --rm -d --name starter-kit-common-test-custom -p 7000:7000 -p 7001:7001 ga4gh/ga4gh-starter-kit-common:${DOCKER_IMG_VER} --config ./src/test/resources/config/demo-config.yml
      script:
        - "./gradlew test --tests=integration.*"
    
    - stage: GithubRelease
      if: >
        type = push
        AND repo = ga4gh/ga4gh-starter-kit-common
        AND branch =~ /^release\/\d+\.\d+\.\d+$/
        AND fork = false
        AND commit_message =~ /^trigger-release(-github)?$/
      dist: xenial
      language: java
      jdk:
        - openjdk11
      script:
        - echo "Deploying to Github Releases"
      before_deploy:
        - source ci/set-docker-image-version.sh
        - export TAG_NAME="v${DOCKER_IMG_VER}"
        - export NAME="GA4GH Starter Kit - Common v${DOCKER_IMG_VER}"
        - export BODY="v${DOCKER_IMG_VER} release of commons library for the GA4GH Starter Kit"
        - git tag $TAG_NAME
      deploy:
        provider: releases
        file_glob: true
        file:
          - ci/**/*
          - database/**/*
          - gradle/**/*
          - src/**/*
          - .gitattributes
          - .gitignore
          - .travis.yml
          - build.gradle
          - Dockerfile
          - gradlew
          - gradlew.bat
          - LICENSE
          - Makefile
          - README.md
          - settings.gradle
        skip_cleanup: true
        on:
          tags: true
        tag_name: $TAG_NAME
        name: $NAME
        body: $BODY
        api_key: "$GITHUB_API_KEY"
        overwrite: true
    
    - stage: DockerRelease
      if: >
        type = push
        AND repo = ga4gh/ga4gh-starter-kit-common
        AND branch =~ /^release\/\d+\.\d+\.\d+$/
        AND fork = false
        AND commit_message =~ /^trigger-release(-docker)?$/
      dist: xenial
      language: java
      jdk:
        - openjdk11
      services:
        - docker
      before_script:
        - source ci/set-docker-image-version.sh
      script:
        - make docker-publish
