# dist: xenial
# addons:
#   apt:
#     sources:
#       - travis-ci/sqlite3
#     packages:
#       - sqlite3
#     update: true
# git:
#   depth: false
# env:
#   global:
#     - DOCKER_IMG_VER=0.5.4
# language: java
# jdk: oraclejdk11
# services:
#   - docker
# before_install:
#   - docker pull ga4gh/ga4gh-starter-kit-common:${DOCKER_IMG_VER}
#   - docker run --rm -d --name starter-kit-common-test-default -p 4500:4500 -p 4501:4501 ga4gh/ga4gh-starter-kit-common:${DOCKER_IMG_VER}
#   - docker run --rm -d --name starter-kit-common-test-custom -p 7000:7000 -p 7001:7001 ga4gh/ga4gh-starter-kit-common:${DOCKER_IMG_VER} --config ./src/test/resources/config/demo-config.yml
# before_script:
#   - sqlite3 -version
#   - make -version
#   - make clean-sqlite
#   - make sqlite-db-build
#   - make sqlite-db-populate
# script: "./gradlew test"
# after_success:
#   - "./gradlew jacocoTestReport"
#   - bash <(curl -s https://codecov.io/bash)

jobs:
  include:
    - stage: test
      env:
        global:
          - DOCKER_IMG_VER=0.5.4
      language: java
      jdk:
        - oraclejdk8
        - oraclejdk11
      services:
        - docker
      before_install:
        - docker pull ga4gh/ga4gh-starter-kit-common:${DOCKER_IMG_VER}
        - docker run --rm -d --name starter-kit-common-test-default -p 4500:4500 -p 4501:4501 ga4gh/ga4gh-starter-kit-common:${DOCKER_IMG_VER}
        - docker run --rm -d --name starter-kit-common-test-custom -p 7000:7000 -p 7001:7001 ga4gh/ga4gh-starter-kit-common:${DOCKER_IMG_VER} --config ./src/test/resources/config/demo-config.yml
      before_script:
        - sqlite3 -version
        - make -version
        - make clean-sqlite
        - make sqlite-db-build
        - make sqlite-db-populate
      script:
        - ./gradlew test
